[submodule "themes/nostyle"]
	path = themes/nostyle
	url = https://github.com/acehinnnqru/hugo-theme-nostyleplease
	branch = main
[submodule "content/me"]
	path = content/me
	url = https://github.com/acehinnnqru/me
	branch = master
[submodule "content/posts"]
	path = content/posts
	url = https://github.com/acehinnnqru/posts
	branch = master
