:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

html {
  height: 100%;
}

body {
  display: flex;
  height: 100vh;
  width: 100vw;
  background: url("/bg.svg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
}
