:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

html {
  height: 100%;
}

body {
  display: flex;
  height: 100vh;
  width: 100vw;
  background: url("/bg.svg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  justify-content: space-around;
  align-items: center;
}

#main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

#main-container {
  border: 1px solid rgba(104, 106, 108, 0.22);
  border-radius: 10px;
  display: flex;
  height: 80vh;
  width: 80vw;
}

#left-menu {
  border-radius: 10px 0px 0px 10px;
  border-right: 1px solid black;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(17.2px);
  width: 15%;
  height: 100% - 10px;
  display: flex;
  flex-flow: column;
}

#traffic-lights {
  height: 8%;
  width: 100%;
}

#catogries {
  height: 92%;
  width: 100%;
}

#right-container {
  flex-flow: column;
  width: 85%;
  height: 100% - 10px;
}

#util-bar {
  height: 8%;
  background-color: #353637;
  border-radius: 0px 10px 0px 0px;
  border-bottom: 1px solid black;
}

#content-container {
  height: 92%;
  background-color: #333333;
  border-radius: 0px 0px 10px 0px;
}
